<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="header_font" color="primary">
    <ion-title center text-center style="padding:--px;">Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form novalidate (ngSubmit)="changePassword()" [formGroup]="changepassform">
    <ion-item class="input_item">
      <ion-label class="input_label" color="inputcolor" floating><img
          style="max-width: 18px; position: absolute; left: 0;" src="../../assets/imgs/inputlock.svg" />Enter Old Password
      </ion-label>
      <ion-input type="password" [(ngModel)]="changepassdata.oldpassword" formControlName="oldpassword" [class.error1]="!changepassform.controls.oldpassword.valid && changepassform.controls.oldpassword.dirty"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="( changepassform.get('oldpassword').hasError('required') ) && changepassform.get('oldpassword').touched">
      <div class="error" *ngIf="changepassform.get('oldpassword').hasError('required') && changepassform.get('oldpassword').touched">
        Please enter your old password.
      </div>
    </ion-item>

    <ion-item class="input_item">
      <ion-label class="input_label" color="inputcolor" floating><img
          style="max-width: 18px; position: absolute; left: 0;" src="../../assets/imgs/inputlock.svg" />Enter New Password
      </ion-label>
      <ion-input type="password" [(ngModel)]="changepassdata.newpassword" formControlName="newpassword" [class.error1]="!changepassform.controls.newpassword.valid && changepassform.controls.newpassword.dirty"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="( changepassform.get('newpassword').hasError('minlength') || changepassform.get('newpassword').hasError('maxlength') ||changepassform.get('newpassword').hasError('required') ) && changepassform.get('newpassword').touched">
      <div class="error"
        *ngIf="changepassform.get('newpassword').hasError('required') && changepassform.get('newpassword').touched">
        Please enter your new password.
      </div>
      <div class="error"
        *ngIf="changepassform.get('newpassword').hasError('minlength') && changepassform.get('newpassword').touched">
        Minimum 6 characters please.
      </div>
      <div class="error"
        *ngIf="changepassform.get('newpassword').hasError('maxlength') && changepassform.get('newpassword').touched">
        Maximum 12 characters allowed.
      </div>
    </ion-item>

    <ion-item class="input_item">
      <ion-label class="input_label" color="inputcolor" floating><img style="max-width: 17px; position: absolute; left: 0;"
          src="../../assets/imgs/inputlock.svg" />Repeat Password</ion-label>
      <ion-input type="password" class="input_form" pattern="{{changepassdata.newpassword}}" [(ngModel)]="changepassdata.cnfnewpassword"
        formControlName="cnfnewpassword"
        [class.error1]="!changepassform.controls.cnfnewpassword.valid && changepassform.controls.cnfnewpassword.dirty"></ion-input>
    </ion-item>
    <ion-item no-lines
      *ngIf="( changepassform.get('cnfnewpassword').hasError('minlength') || changepassform.get('cnfnewpassword').hasError('maxlength') ||changepassform.get('cnfnewpassword').hasError('required') ||changepassform.get('cnfnewpassword').hasError('pattern') ) && changepassform.get('cnfnewpassword').touched">
      <div class="error"
        *ngIf="changepassform.get('cnfnewpassword').hasError('required') && changepassform.get('cnfnewpassword').touched">
        Please re-enter your password!
      </div>
    
      <div class="error" *ngIf="changepassform.get('cnfnewpassword').hasError('pattern') && changepassform.get('cnfnewpassword').touched">
        Please re-enter the same new password!
      </div>
    </ion-item>
    <!-- <ion-item class="input_item">
      <ion-label class="input_label" color="inputcolor" floating><img
          style="max-width: 18px; position: absolute; left: 0;" src="../../assets/imgs/inputlock.svg" />Re-Enter New
        Password</ion-label>
      <ion-input type="password" pattern="{{changepassdata.newpassword}}" ([ngModel])="changepassdata.cnfnewpassword" formControlName="cnfnewpassword" 
      [class.error1]="!changepassform.controls.cnfnewpassword.valid && changepassform.controls.cnfnewpassword.dirty"></ion-input>
    </ion-item>
    <ion-item no-lines
      *ngIf="( changepassform.get('cnfnewpassword').hasError('required') || changepassform.get('cnfnewpassword').hasError('pattern') ) && changepassform.get('cnfnewpassword').touched">
      <div class="error"
        *ngIf="changepassform.get('cnfnewpassword').hasError('required') && changepassform.get('cnfnewpassword').touched">
        Please re-enter your new password.
      </div>
      <div class="error"
        *ngIf="changepassform.get('cnfnewpassword').hasError('pattern') && changepassform.get('cnfnewpassword').touched">
        Please re-enter your same new password.
      </div>
    </ion-item> -->
    <button ion-button secondary class="save_btn" [disabled]="changepassform.invalid">Save</button>
  </form>
</ion-content>
<!--<ion-footer class="footer_section">
  <p class="footer_content">Orga-nice 2019 all Rights Reserve</p>
</ion-footer>-->