page-privacypolicies {
    .pp_background{
        background: #f9f9f9;
    }
    .pp_heading{
        font-size: 24px;
		color: #444444;
		text-align: left;
		font-family: quicksandsR!important;
		margin-bottom: 0px;
    }
    .pp_content{
        font-size: 14px;
		color: #000;
		text-align: left;
		font-family: quicksandsR!important;
        margin: 10px 0 0px;
        line-height: 24px;
    }
}
