<ion-header>
	<ion-navbar class="header_font" color="primary">
		<ion-title>Edit Task</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding *ngFor="let Task of allTask[0]">
	<form novalidate (ngSubmit)="addTask()" [formGroup]="newTaskform">
		<ion-list style="width: 100%;">
			<ion-item class="input_item">
				<ion-label class="input_label" color="inputcolor" floating><img
						style="max-width: 19px; position: absolute; left: 0;"
						src="../../assets/imgs/inputtask.svg" />Task Name</ion-label>
				<ion-input type="text" value="{{Task.name}}" formControlName="task_name"
					[class.error1]="!newTaskform.controls.task_name.valid && newTaskform.controls.task_name.dirty">
				</ion-input>
			</ion-item>

			<ion-item no-lines
				*ngIf="( newTaskform.get('task_name').hasError('minlength') || newTaskform.get('task_name').hasError('maxlength')  ||newTaskform.get('task_name').hasError('required') ) && newTaskform.get('task_name').touched">
				<div class="error"
					*ngIf="newTaskform.get('task_name').hasError('required') && newTaskform.get('task_name').touched">
					Please enter your task name!
				</div>
				<div class="error"
					*ngIf="newTaskform.get('task_name').hasError('minlength') && newTaskform.get('task_name').touched">
					Minimum 3 characters
				</div>
				<div class="error"
					*ngIf="newTaskform.get('task_name').hasError('maxlength') && newTaskform.get('task_name').touched">
					Maximum 50 characters
				</div>
			</ion-item>

			<ion-item class="input_item">
				<ion-label class="input_label" color="inputcolor" floating><img
						style="max-width: 18px; position: absolute; left: 0;"
						src="../../assets/imgs/inputclock.svg" />Duration</ion-label>
				<ion-datetime class="input_form" displayFormat="H:mm" [ngModel]='duration' formControlName="duration"
					[class.error1]="!newTaskform.controls.duration.valid && newTaskform.controls.duration.dirty">
				</ion-datetime>

			</ion-item>
			<ion-item no-lines
				*ngIf="( newTaskform.get('task_name').hasError('required') ) && newTaskform.get('task_name').touched">
				<div class="error"
					*ngIf="newTaskform.get('duration').hasError('required') && newTaskform.get('duration').touched">
					Please enter your task duration!
				</div>
			</ion-item>
			<ion-item class="input_item">
				<ion-label class="input_label" color="inputcolor" floating><img
						style="max-width: 20px; position: absolute; left: 0;"
						src="../../assets/imgs/inputuser.svg" />Bring with You</ion-label>
				<ion-input class="input_form" type="text" value="{{Task.bring_with_you}}"
					formControlName="bring_with_you"
					[class.error1]="!newTaskform.controls.bring_with_you.valid && newTaskform.controls.bring_with_you.dirty">
				</ion-input>
			</ion-item>
			<ion-item class="input_item task_select_opt">
				<ion-label style="font-family: quicksandsR!important; color: #636363;">Frequency</ion-label>
				<ion-select class="task_slct_optn" [ngModel]='frequency' formControlName="frequency">
					<ion-option value="daily">Daily</ion-option>
					<ion-option value="weekly">Weekly</ion-option>
					<ion-option value="monthly">Monthly</ion-option>
					<ion-option value="unassigned">Once</ion-option>
				</ion-select>
			</ion-item>
			<ion-item class="input_item task_select_opt">
				<ion-label style="font-family: quicksandsR!important; color: #636363;">if not Completed</ion-label>
				<ion-select class="task_slct_optn" [ngModel]='not_completed' formControlName="not_completed">
					<ion-option value="nxt_day">Move to Next day</ion-option>
					<ion-option value="nxt_week">Move to Next Week</ion-option>
					<ion-option value="nxt_month">Move to Next Month</ion-option>
					<ion-option value="delete">Delete</ion-option>
				</ion-select>
			</ion-item>
			<ion-item class="input_item task_select_opt">
				<ion-label style="font-family: quicksandsR!important; color: #636363;">Priority</ion-label>
				<ion-select class="task_slct_optn" [ngModel]='priority' formControlName="priority">
					<ion-option value="high">High</ion-option>
					<ion-option value="medium">Medium</ion-option>
					<ion-option value="low">Low</ion-option>
				</ion-select>
			</ion-item>
			<ion-item class="input_item task_select_opt">
				<ion-label style="font-family: quicksandsR!important; color: #636363;">Category</ion-label>
				<ion-select class="task_slct_optn" [ngModel]='category' formControlName="category">
					<div *ngFor="let cat of allCats[0]">
						<ion-option value="{{cat.category_name}}">{{cat.category_name}}</ion-option>
					</div>
				</ion-select>
			</ion-item>
			<ion-item class="input_item task_select_opt">
				<ion-label style="font-family: quicksandsR!important; color: #636363;">Color</ion-label>
				<ion-select class="task_slct_optn" [ngModel]='color' formControlName="color">
					<ion-option value="green">Green</ion-option>
					<ion-option value="black">Black</ion-option>
					<ion-option value="blue">Blue</ion-option>
					<ion-option value="red">Red</ion-option>
				</ion-select>
			</ion-item>

			<ion-item style="margin: 7px 0 7px;" class="input_item">
				<ion-label class="input_label" color="inputcolor" style="font-family: quicksandsR!important;"><img
						style="max-width: 17px; position: absolute; left: 0;" src="../../assets/imgs/inputclndr.svg" />
					Due Date</ion-label>

				<ion-datetime class="input_form" displayFormat="D MMM YYYY H:mm" [ngModel]="due_date"
					formControlName="due_date"></ion-datetime>
			</ion-item>


			<p class="add_sub_task">Need to add some related sub task?</p>
			<ion-item class="input_item" *ngFor="let att of subtaskArray; let idx = index">

				<ion-label color="primary">{{att.label}}{{idx+1}}</ion-label>
				<ion-input type="text" text-left [(ngModel)]="subtaskArray[idx].value"
					formControlName="sub_task{{idx+1}}" placeholder="Enter sub task"></ion-input>
				<div ion-button item-end style="margin: 14px 0 0; background: #db2d04; color: #ffffff;" clear
					(click)="remaovesubTask(subtaskArray[idx].value)">
					<ion-icon name="remove"></ion-icon>
				</div>
			</ion-item>

			<ion-grid>
				<ion-row>
					<ion-col col-6>
						<div ion-button style="margin: 14px 0 0; background: #73a82f; color: #ffffff;" clear
							(click)="AddsubTask()">
							<ion-icon name="add"></ion-icon>
						</div>
					</ion-col>

				</ion-row>
			</ion-grid>
		</ion-list>
		<button ion-button block class="save_btn" [disabled]="newTaskform.invalid">Save</button>
		<ion-input type="hidden" formControlName="taskid" [ngModel]="taskid" disabled></ion-input>
	</form>
</ion-content>