<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="header_font" color="primary">
		<ion-title>Profile</ion-title>
		<!-- <ion-buttons end>
			<button ion-button icon-only (click)="presentPopover($event)">
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
	<!-- <object style="width: 78 px; height: 78px; border-radius: 50%; margin: 20px auto 10px auto; left: 0; right: 0; display: block;" type="image/svg+xml" data="../../assets/imgs/kousik.jpg">
			Your browser does not support SVG
		</object> -->
	<img
		style="width: 90px; height: 90px; border-radius: 50%; margin: 20px auto 10px auto; left: 0; right: 0; display: block;"
		src="../../assets/imgs/user.svg" />
	<!--<ion-list style="width: 100%;">
		<ion-item class="input_item">
			<ion-label class="input_label" color="inputcolor" floating><img
					style="max-width: 18px; position: absolute; left: 0;" src="../../assets/imgs/inputuser.svg" />Name</ion-label>
			<ion-input class="input_form" value="{{userdetails.name}}" disabled></ion-input>
		</ion-item>
		<ion-item class="input_item">
			<ion-label class="input_label" color="inputcolor" floating><img
					style="max-width: 16px; position: absolute; left: 0;" src="../../assets/imgs/inputemail.svg" />Email Address
			</ion-label>
			<ion-input class="input_form" value="{{userdetails.email}}" disabled></ion-input>
		</ion-item>
		<ion-item class="input_item">
			<ion-label class="input_label" color="inputcolor" floating><img
					style="max-width: 16px; position: absolute; left: 0;" src="../../assets/imgs/inputcntry.svg" />Country
			</ion-label>
			<ion-input class="input_form" value="{{userdetails.country}}" disabled></ion-input>
		</ion-item>
		<ion-item class="input_item">
			<ion-label class="input_label" color="inputcolor" floating><img
					style="max-width: 15px; position: absolute; left: 0;" src="../../assets/imgs/inputclndr.svg" />Date of Birth
			</ion-label>
			<ion-input class="input_form" value="{{userdetails.dob}}" disabled></ion-input>
		</ion-item>
	</ion-list>-->
	<form novalidate (ngSubmit)="signupupdate()" [formGroup]="signupformupdate">
		<ion-list style="width: 100%;">
			<ion-item class="input_item">			
				<ion-label class="input_label" color="inputcolor" floating><img style="max-width: 18px; position: absolute; left: 0;" src="../../assets/imgs/inputuser.svg"/>Name</ion-label>
				<ion-input type="text" formControlName="name" value="{{userdetails.name}}" disabled ></ion-input>
			</ion-item>
			

			<ion-item class="input_item">			
				<ion-label class="input_label" color="inputcolor" floating><img style="max-width: 15px; position: absolute; left: 0; top: 3px;" src="../../assets/imgs/inputemail.svg"/>Email Address</ion-label>
				<ion-input type="mail" class="input_form"  formControlName="email" value="{{userdetails.email}}" disabled></ion-input>
			</ion-item>

			

			<ion-item class="input_item">			
				<ion-label class="input_label" color="inputcolor" floating><img style="max-width: 16px; position: absolute; left: 0;" src="../../assets/imgs/inputcntry.svg"/>Country</ion-label>
				<ion-input class="input_form"  formControlName="country" value="{{userdetails.country}}"
          [class.error1]="!signupformupdate.controls.country.valid && signupformupdate.controls.country.dirty"></ion-input>
			</ion-item>

			<ion-item no-lines
				*ngIf="( signupformupdate.get('country').hasError('minlength') || signupformupdate.get('country').hasError('maxlength') ||signupformupdate.get('country').hasError('pattern') ||signupformupdate.get('country').hasError('required') ) && signupformupdate.get('country').touched">
				<div class="error" *ngIf="signupformupdate.get('country').hasError('required') && signupformupdate.get('country').touched">
					Please Enter your country!
				</div>
				<div class="error" *ngIf="signupformupdate.get('country').hasError('minlength') && signupformupdate.get('country').touched">
					Must be minimum 4 characters!
				</div>
				<div class="error" *ngIf="signupformupdate.get('country').hasError('maxlength') && signupformupdate.get('country').touched">
					Maximum 10 characters allowed!
				</div>
				<div class="error" *ngIf="signupformupdate.get('country').hasError('pattern') && signupformupdate.get('country').touched">
					Just use alphabet character!
				</div>
			</ion-item>

			<ion-item class="input_item">			
				<ion-label class="input_label" color="inputcolor" floating><img style="max-width: 14px; position: absolute; left: 0; top: 4px;" src="../../assets/imgs/inputclndr.svg"/>Date of Birth</ion-label>
				<ion-datetime class="input_form" displayFormat="D MMM YYYY" [(ngModel)]="userdetails.dob" formControlName="dob" >
				</ion-datetime>
			</ion-item>

			<ion-item class="input_item">			
				<ion-label class="input_label" color="inputcolor" floating><img style="max-width: 18px; position: absolute; left: 0;" src="../../assets/imgs/inputuser.svg"/>Mobile Token</ion-label>
				<ion-input type="text" value="{{mobileToken}}" ></ion-input>
			</ion-item>

			<ion-item no-lines *ngIf="(signupformupdate.get('dob').hasError('required') && signupformupdate.get('dob').touched)">
				<div class="error" *ngIf="signupformupdate.get('dob').hasError('required') && signupformupdate.get('dob').touched">
					please Enter your date of birth!.
				</div>
			</ion-item>

			
			
			
			
			

		</ion-list>
		<button ion-button block class="login_page_btn" [disabled]="signupformupdate.invalid">Save</button>
	</form>
	<!-- <button ion-button secondary class="pass_change_btn">Change Password</button> -->
	<!--<button ion-button secondary class="prfle_sve_btn" (click)="changepassword()">Change Password</button>-->
</ion-content>
<!-- <ion-footer class="footer_section">
    <p class="footer_content">Orga-nice 2019 all Rights Reserve</p>
</ion-footer> -->
