page-termsandcondition {
    .tc_background{
        background: #f9f9f9;
    }
    .tc_heading{
        font-size: 24px;
		color: #444444;
		text-align: left;
		font-family: quicksandsR!important;
		margin-bottom: 0px;
    }
    .tc_content{
        font-size: 14px;
		color: #7a7a7a;
		text-align: left;
		font-family: quicksandsR!important;
        margin: 10px 0 0px;
        line-height: 24px;
    }
}
